body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
 
header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}
 
header nav ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
}
 
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
 
header nav a {
  color: #fff;
  text-decoration: none;
}
 
#buy-now {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
#features {
  padding: 2em;
}
 
.feature-box {
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #ffffff;
  margin: 20px;
  width: calc(33);
}
 
.heroSecrion {
  height: 100vh;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
 
.maindiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
 
.maindiv img {
  height: 400px;
  width: 400px;
}
 
.feat-container {
  display: flex;
  justify-content: center;
}
 
#features h2 {
  text-align: center;
}
 
.feature-box {
  border: 1px solid #26292a;
  border-radius: 10px;

}
 
#pricing {
  text-align: center;
}

#contact {
  text-align: center;
}
 
#contact {
  margin: 20px;
}

.button, input, optgroup, select, textarea
 {
  margin: 20px;
  border-color: #26292a;
  border-radius: 10px;

 }
 .feature-box ul {
  text-align: left;
 }
 
.form-control {
  border-radius: 10px;
  padding: 10px;
}

.btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-primary:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}
